.result {
  background-color: slategrey;
  margin-bottom:30px;
  border-radius: 5px;
}


.result-text {
  text-align: left;
}

.genres {
  font-style: italic;
  float: left;
}

.runtime {
  float:left;
  margin-right:15px;
}

.rating {
  float: right;
}

td {
  vertical-align: top;
}

.category {
  width: 50px;
  font-weight: bold;
}

.result-title {
  text-align: left;
  padding: 10px;
  color: black;
  font-size:1.2em;
}

