<div class="search-form">
  <form (ngSubmit)="onSubmit()">
    <div class="grid-container">
      <div class="grid-y">
        <div class="cell">
          <div class="grid-x grid-margin-x">

            <div class="cell small-12">
              <label for="title">Title</label>
              <input id="title" type="text" name="title" placeholder="Schindler's List"
                     [(ngModel)]="searchModel.title">
            </div>

            <div class="cell small-12 large-6">
              <label for="genres">Genres</label>
              <app-multiselect id="genres" name="genres" [(ngModel)]="searchModel.genres"
              ></app-multiselect>
            </div>

            <div class="cell small-4 medium-4 large-2">
              <label for="rating">min. Rating</label>
              <input id="rating" type="number" step="0.1" min="0" max="10" name="rating"
                     placeholder="5.5"
                     [(ngModel)]="searchModel.minRatingIMDB">
            </div>
            <div class="cell small-8 medium-8 large-4">
              <div class="grid-x">
                <div class="cell small-6">
                  <label for="year_from">min. year</label>
                  <input id="year_from" type="number" min="1800" max="2020" name="year_from"
                         placeholder="1965"
                         [(ngModel)]="searchModel.year_from">
                </div>
                <div class="cell small-6">
                  <label for="year_to">max. year</label>
                  <input id="year_to" type="number" min="1800" max="2020" name="year_to"
                         placeholder="2010"
                         [(ngModel)]="searchModel.year_to">
                </div>
              </div>
            </div>

            <div class="cell small-12 medium-6">
              <label for="director">Director</label>
              <input id="director" type="text" name="director" placeholder="Steven Spielberg"
                     [(ngModel)]="searchModel.director">
            </div>

            <div class="cell small-12 medium-6">
              <label for="writer">Writer</label>
              <input id="writer" type="text" name="writer" placeholder="Thomas Keneally"
                     [(ngModel)]="searchModel.writer">
            </div>
          </div>
        </div>
        <div class="cell">
          <label for="principals">Top-billed actors</label>
          <div class="grid-x" id="principals">
            <input type="text" class="cell large-4" id="p1" name="p1"
                   placeholder="Liam Neeson"
                   [(ngModel)]="searchModel.principals[0]">
            <input type="text" class="cell large-4" id="p2" name="p2"
                   [(ngModel)]="searchModel.principals[1]">
            <input type="text" class="cell large-4" id="p3" name="p3"
                   [(ngModel)]="searchModel.principals[2]">
          </div>
        </div>
        <div class="cell">
          <button class="button" name="submitbutton" type="submit">Search!
          </button>
        </div>
      </div>
    </div>
  </form>
</div>



