.details-container {
  background-color: darkgrey;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px dimgrey;
}

.error-message {
  font-weight: bold;
  text-align: center;
}

.poster img {
  border: 2px solid black;
  margin: auto auto 30px auto;
}

.additional-data table {
  box-shadow: 5px 5px 10px dimgrey;
  border-radius: 10px;
}


.additional-data th {
  font-size:2em;
}
