<div class="details-container">
  <div *ngIf="combinedData!=null; else no_data_available">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell poster small-12 medium-3">
          <img *ngIf="hasPosterPath();else image_not_found" src="{{fullPosterPath$ | async}}">
          <ng-template #image_not_found>
            <img src="../../../../assets/noImg_w185.png">
          </ng-template>
        </div>
        <div class="cell small-12 medium-9">
          <app-result [movieData]="combinedData.basicData"></app-result>
        </div>
      </div>

    </div>
  </div>
  <ng-template #no_data_available>
    <p>NO DATA!</p>
  </ng-template>
</div>
