<div class="details-container">
  <div *ngIf="detailedData!=null; else no_data_available">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell poster small-12 medium-3">
          <img *ngIf="hasPosterPath();else image_not_found" src="{{fullPosterPath$ | async}}">
          <ng-template #image_not_found>
            <img src="../../../../assets/noImg_w185.png">
          </ng-template>
        </div>
        <div class="cell small-12 medium-9">
          <table>
            <th colspan="2" class="result-title">{{detailedData.original_title}}
              <span *ngIf="detailedData.releaseDate!=null">({{detailedData.releaseDate.getFullYear()}})</span>
            </th>
            <tr *ngIf="detailedData.productionCountries.length>0">
              <td class="category">Countries:</td>
              <td class="result-text">{{detailedData.productionCountries.join(', ')}}</td>
            </tr>

            <tr *ngIf="detailedData.originalLanguage!=null">
              <td class="category">Language:</td>
              <td class="result-text">{{detailedData.originalLanguage}}</td>
            </tr>

            <tr *ngIf="detailedData.releaseDate!=null">
              <td class="category">Released:</td>
              <td class="result-text">{{detailedData.releaseDate.toLocaleDateString()}}</td>
            </tr>
            <tr *ngIf="detailedData.budget!=0">
              <td class="category">Budget:</td>
              <td class="result-text">{{detailedData.budget.toLocaleString()}}</td>
            </tr>
          </table>

        </div>
      </div>

    </div>
    <div *ngIf="detailedData.credits.length > 0" class="credits">
      <app-credits [credits]="detailedData.credits"></app-credits>
    </div>


  </div>

  <ng-template #no_data_available>
    <p class="error-message">No detailed data available!</p>
  </ng-template>
</div>
