.search-form {
  background-color:darkgrey;
  padding:10px;
  margin:auto;
  border-radius:10px;
  box-shadow:5px 5px 10px dimgrey;
}

label {
  font-weight:bold;
}

.button-custom {
  margin-top: 25px;
  border-radius: 5px;
}

#genres {
  background-color: #fefefe;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .search-form {
    width: 100%
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .search-form {
    width: 75%
  }
}
