<div class="grid-y grid-margin-y details-container">
  <div class="cell">
    <div class="details-page">
      <div *ngIf="detailedData!=null">
        <div  *ngIf="detailedData.hasDetails;else no_data_available">
          <div class="grid-x grid-margin-x">
            <div class="cell poster medium-12 large-4">
              <ng-container *ngIf="detailedData.hasPosterPath(); else image_not_found">
                <img src="{{detailedData.posterPath}}" alt="poster">
              </ng-container>
              <ng-template #image_not_found>
                <img src="../../../../assets/noImg_w185.png" alt="no_image_available">
              </ng-template>
            </div>
            <div class="cell medium-12 large-8 details-basic-additional">
              <app-result *ngIf="basicData" [basicData]="basicData" class="basic-data"
                          [activateTitleLink]="false"></app-result>
              <table class="details-additional">
                <tbody>
                <tr *ngIf="detailedData.overview!=null">
                  <td class="category">Plot:</td>
                  <td class="result-text">{{detailedData.overview}}</td>
                </tr>
                <tr *ngIf="detailedData.productionCountries.length>0">
                  <td class="category">Countries:</td>
                  <td class="result-text">{{detailedData.productionCountries.join(', ')}}</td>
                </tr>
                <tr *ngIf="detailedData.originalLanguage!=null">
                  <td class="category">Language:</td>
                  <td class="result-text">{{detailedData.originalLanguage}}</td>
                </tr>
                <tr *ngIf="detailedData.releaseDate!=null">
                  <td class="category">Released:</td>
                  <td class="result-text">{{detailedData.releaseDate}}</td>
                </tr>
                <tr *ngIf="detailedData.budget!=0">
                  <td class="category">Budget:</td>
                  <td class="result-text">$ {{detailedData.budget.toLocaleString()}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="credits cell small-12" *ngIf="detailedData.credits.length > 0">
            <app-credits [credits]="detailedData.credits"></app-credits>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_data_available>
  <p class="error-message">No detailed data available!</p>
</ng-template>
