.details-page {
  background-color: darkgrey;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px dimgrey;
  padding: 10px
}

.details-container {
  margin:auto
}

.error-message {
  font-weight: bold;
  text-align: center;
}


.poster {
  text-align: center;
}

.poster img {
  border: 2px solid black;
  margin: auto auto 30px auto;
  box-shadow: 5px 5px 10px dimgrey;

}


.details-additional {
  margin-bottom: 50px;
}

.category {
  width: 50px;
  font-weight: bold;
  vertical-align: top;
}



/* Small only */
@media screen and (max-width: 39.9375em) {
  .details-page {
    width: 100%
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 80em) {
  .details-page {
    width: 75%
  }
}


/* Large and up */
@media screen and (min-width: 80.0001em) {
  .details-page {
    width: 50%
  }
}


