<div class="grid-y grid-margin-y">
  <div class="cell">
    <div class="login-form">
      <form (ngSubmit)="onSubmit()">
        <div class="grid-container">
          <div class="grid-y">
            <div class="cell large 4">
              <label for="email">Email: </label>
              <input type="text" id="email">
            </div>
            <div class="cell large 4">
              <label for="password">Password: </label>
              <input type="password" id="password">
            </div>
            <div class="cell">
              <div class="grid-x">
                <div class="cell small-12 medium-3">
                  <button class="button login-button" name="submitbutton" type="submit">Login
                  </button>
                </div>
                <div class="login-button-text-container">
                  <div class="cell small-12 medium-9">
                    No account yet? <a class="register-link" [routerLink]="['/register']" >Register here!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
