.header {
  background: indianred;
  color: white;
  width: 100%;
  padding:20px;
  text-align: center;
  box-shadow: 0 5px 10px darkslategray;
}

nav a {
  font-size:1.2em;
  color: white;

}

.header h1 {
  font-size:4em;
  color:black;
  font-weight:bold;
}

.content {
  margin: 35px auto auto auto;

  width:80%;
}
