.result {
  background-color: slategrey;

  margin-bottom:10px;
}

.title {
  font-weight:bold;
}

.result-text {
  text-align:right;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
