.search-page {
  margin: auto;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .search-page {
    width: 100%
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 60em) {
  .search-page {
    width: 75%
  }
}


/* Large and up */
@media screen and (min-width: 60.0001em) {
  .search-page {
    width: 50%
  }
}
