<div class="grid-container">
  <div class="director-label">
    <span>Director</span>
  </div>

  <div class="writer-label">
    <span>Writer</span>
  </div>

  <div class="principals-label">
    <span>Principals</span>
  </div>

  <div class="year-label">
    <span>Year</span>
  </div>

  <div class="genres-label">
    <span>Genres</span>
  </div>

  <div class="rating-label">
    <span>min.IMDB-Rating</span>
  </div>

  <div class="director-content">
    <input type="text">
  </div>

  <div class="writer-content">
    <input type="text">
  </div>

  <div class="principals-content">
    <input type="text">
    <input type="text">
    <input type="text">
  </div>

  <div class="year-content">
    <label for="year_from">from</label>
    <input id="year_from" type="number" min="1800" max="2020">
    <label for="year_to">to</label>
    <input id="year_to" type="number" min="1800" max="2020">
  </div>

  <div class="genres-content">
    <select>
      <option value="genre1">genre1</option>
    </select>
  </div>

  <div class="rating-content">
    <input type="number" min="0" max="10" step="0.1">
  </div>
</div>
