.search-page {
  margin: auto;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .search-page {
    width: 100%
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .search-page {
    width: 75%
  }
}
